<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launching.testngSuiteLaunch">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/axis-automation/testng.xml"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.TestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="axis-automation"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:/axis-automation}"/>
    <stringAttribute key="org.testng.eclipse.SUITE_NAME" value="${workspace_loc:/axis-automation}/testng.xml"/>
    <stringAttribute key="org.testng.eclipse.TESTNG_RUNTIME" value="TESTNG"/>
    <booleanAttribute key="org.testng.eclipse.SHOW_LAUNCH_CONFIG_DIALOG" value="false"/>
</launchConfiguration>
