<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Axis Automation Suite" verbose="2">
    <listeners>
        <listener class-name="com.axismaxlife.automation.listeners.TestListener"/>
    </listeners>
    <test name="The Internet Form Auth E2E">
        <classes>
            <class name="com.axismaxlife.tests.TheInternetLoginTest"/>
        </classes>
    </test>
</suite>
